*
{
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container
{
    margin:30px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   /* border: 2px solid red; */    
}
.gridBox
{

    justify-content: center;

    border: 1px solid aqua; 
}
button
{
    margin-left: 10%;
    width:80%;
    font-size:1.3em;
    border-radius: 10px;
}
.gridBox:hover
{
    /*background-color: blue;*/
}