#container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    border: 2px solid red;    
}
.gridBox
{

    justify-content: space-around;

    border: 2px solid aqua;
}
button
{
    margin-left: 10%;
    width:80%;
    font-size:1.3em;
    border-radius: 10px;
}
.gridBox:hover
{
    background-color: blue;
}